


.boxes{
    display: flex;
    margin: 70px auto;
    flex-direction: row;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box{
    width: 33%;
    height: 100px;
    background-color: antiquewhite;
    margin: 10px;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    border-radius: 10px;
    box-shadow: 0px 0px 2px red;
    color: black;
}

.box:hover{
    box-shadow: 0px 0px 10px red;
    color: red;
}