{% extends "base.html" %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/properties.css' %}">

<div class="head">
    <button class="btn btn-sm btn-primary"
    onclick="window.location.href = '/'">Back</button>

    <h1 class="ph">Properties Information</h1>

    <a href="{% url 'admin:index' %}" class="btn btn-sm btn-info text-white">Add Property</a>
</div>


<div class="tab">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Client</th>
                <th>Address</th>
                <th colspan="3" style="text-align: center;">Actions</th>
                
            </tr>
        </thead>
        <tbody>
            {% for prop in props %}
                <tr>
                    <td>{{ prop.client.name }}</td>
                    <td>{{ prop.address }}</td>
                    <td><a href="/properties/{{prop.pk}}" class="btn btn-success btn-sm">Details</a></td>
                    <td><a href="{{prop.pk}}/delete/" class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
            
            
        </tbody>
    </table>
</div>

{% endblock %}