{% extends "base.html" %}
{% load static %}
{% load extra_tags %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/document.css' %}">

<div class="head">
    <button class="btn btn-sm btn-primary"
    onclick="history.back()">Back</button>


    <h1>{{ docs.0|title }} Documents</h1>
    
</div>

<div class="docs">
    
    {% for doc in docs %}
    <div class="docs_list">
        <a href="/{{doc.file}}" target="_blank">{{ doc.file|rem:"static/documents/"  }}</a>        
    </div>
    {% endfor %}
    
</div>


{% endblock %}

